.main-container{
    max-width: 1440px;
    margin: 0 auto;
}


.annoucements{
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    background-color: #d8e8e3;
}

.annoucements span{
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    max-width: 60%;
    text-align: center;
    font-size: 19px;
    line-height: 1.75;
    font-weight: 500;
}

.reward{
    max-width:1440px;
    height: auto;
}

.left-right-section{
    height: auto;
}
.left-right-section{
    display: flex;
    margin-bottom: 32px;
}

.left-right-section .text{
    width:50%;
    height: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3d7170;
    padding: -92px;
    box-sizing: border-box;
    padding-bottom: 44px;
}
.left-right-section .image img{
    height: auto;
    width: 100%;
}

.left-right-section .image{
    width: 50%;
    margin-bottom: -4px;
    
}





.text h1 .text h3{
    margin: 0;
    font-weight: 400;
}

.text h1{
    margin-bottom: 24px;
    font-size: 50px;
    padding: 0 70px;
    text-align: center;
    
}

.text h3{
    margin-bottom: 32px;
    font-size: 28px;
    padding: 0 59px;
    text-align: center;
    font-weight: 300;
}

.text .cta{
    padding: 7px 16px;
    border: 1px solid;
    border-radius: 50px;
    color: rgb(255,255,255);
    font-weight: 600;
    cursor:pointer;
    transition: all 0.2s ease;
}

.text .cta:hover{
 background-color:rgba(30,57,50,.1);
 
}

.chill{
    height: 0 auto;
}
.chill .text{
    background-color: #d8e8e3;
    color: black;
}

chill .image{
    width: 100%;
}

.chill .cta{
    color: black;
}
.new{
    background-color: #3d7170;
    height: 420px;
}
.new.text{
    background-color: #3d7170;
    height: 200px;
    width: 100%;
}

.new.image{
    background-color: #3d7170;
    height: 420px;
    width: 100%;
    color: #3d7170;
}

.new .text h1{
    font-size: 24px;
}

.new .text h3{
    font-size: 19px;
    padding: 0 110px;
}

.last .text{
    background-color: #96b2e1;
}

.last .text h1{
    font-size: 24px;
    color: #1e3932;
}

.last .text h3{
    font-size: 19px;
    color: #1e3932;
    padding: 0 119px;
    background-color: #96b2e1;
}

.last .cta{
    color: #1e3932;
}

.last .cta:hover{
    background-color:rgba(30,57,50,.1) ;
    cursor: pointer;
}

@media (max-width: 900px){
    .annoucements{
        height: auto;
        /* margin-right: -80px; */
}
.main-container {
    max-width: 900px;
    margin: 0 auto;
    margin-left: -2px;
    margin-right: -82px;
}
    
    .rewards{
        max-height: 250px;
    }
    .left-right-section .text{
        width:50%;
        height: auto;
        color: #fff;
        /* display: flex; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: #3d7170; */
        /* padding: -92px; */
        box-sizing: border-box;
        /* padding-bottom: 44px; */

    }
    .text h1{
        /* margin: 0; */
        font-weight: 450;
        line-height: 15px;
        font-size: 17px;
    }

    .text h3 {
        /* margin-bottom: 32px; */
        font-size: 10px;
        padding: 0 59px;
        text-align: center;
        font-weight: 300;
        line-height: 15px;
    }

    .new .text h1 {
        font-size: 17px;
    }
    .new .text h3 {
        font-size: 10px;
        padding: 0 59px;
    }

    .left-right-section .image img {
        height: 250px;
        width: 100%;
    }
    .last .text h1 {
        font-size: 17px;
        color: #1e3932;
    }
    .last .text h3 {
        font-size: 10px;
        /* color: #1e3932; */
        padding: 0 59px;
        background-color: #96b2e1;
    }
    .left-right-section .text{
        width:50%;
        height: auto;
        color: #fff;
        /* display: flex; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: #3d7170; */
        /* padding: -92px; */
        box-sizing: border-box;
        /* padding-bottom: 44px; */

    }
    .x{
        color: black;
    }
  
}